﻿<!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="EditarMateriaPrimaPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Editar Materia Prima</span>
            <small>Favor de llenar los siguientes campos para poder dar de alta unq materia prima.</small>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.MateriaPrima.RegresarListadoMateriaPrimas(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            *N.P. Interno
                        </label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input type="text" data-bind="value:MateriaPrima.NumeroParteInterno" class="form-control" name="text" placeholder="4010445" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tipo</label>
                        <select data-bind='value:MateriaPrima.Tipo,
                                           options:ListaTipos,
                                           optionsValue:"Id",
                                           optionsText:"Nombre"' class="form-control"></select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Secado</label>
                        <div class="mt-radio-inline">
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="true" data-bind="checked:MateriaPrima.Secado"> Sí
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios5" value="false" data-bind="checked:MateriaPrima.Secado"> No
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Temperatura</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" data-bind="value:MateriaPrima.Temperatura">
                            <span class="input-group-addon">
                                ºC
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Tiempo</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" data-bind="value:MateriaPrima.Tiempo">
                            <span class="input-group-addon">
                                Hrs.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Familia</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:MateriaPrima.Familia">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Porcentaje de humedad</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" data-bind="value:MateriaPrima.PorcentajeHumedad">
                            <span class="input-group-addon">
                                %
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Amorfo / Semi</label>
                        <select data-bind='value:MateriaPrima.AmorfoSemi,
                                           options:ListaAS,
                                           optionsValue:"Id",
                                           optionsText:"Nombre"' class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Polímero</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:MateriaPrima.Polimero">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>*Descripción</label>
                        <textarea class="form-control" rows="3" data-bind="value:MateriaPrima.Descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs">
            </div>
            <div class="col-md-6 actionButtons">
                <button type="button" class="btn blue uppercase" onclick="GreinerAssistec.App.MateriaPrima.RegresarListadoMateriaPrimas(true,true)">Cancelar</button>
                <button type="button" data-bind="click:MateriaPrima.GuardaMateriaPrima" class="btn yellow-gold uppercase">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->