﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="PerfilMateriaPrimaPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Materia Prima</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.MateriaPrima.RegresarListadoMateriaPrimas(false,false)">Regresar</a>
    </div>
    <div class="portlet-body" style="margin-left:10px;margin-right:10px">
        <div class="row">
            <div class="row">
                <div class="caActionsButtons pull-right">
                    <a data-bind="click:function(){ GreinerAssistec.App.MateriaPrima.EliminarMateriaPrima (MateriaPrima.IdMateriaPrima(),false); }">
                        <i class="caDelElement"></i>
                    </a>
                    <a data-bind="click:function(){ GreinerAssistec.App.MateriaPrima.EditarMateriaPrima(MateriaPrima.IdMateriaPrima()); }">
                        <i class="caEditElement"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dataFixed">
                        <label class="control-label">
                            *N.P. Interno
                        </label>
                        <span class="caInfo" data-bind="text:MateriaPrima.NumeroParteInterno"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tipo</label>
                        <select data-bind='value:MateriaPrima.Tipo,
                                           options:ListaTipos,
                                           optionsValue:"Id",
                                           optionsText:"Nombre"' class="form-control" disabled></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Secado</label>
                        <div class="mt-radio-inline">
                            <label class="mt-radio mt-radio-disabled">
                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="true" data-bind="checked:MateriaPrima.Secado" disabled> Sí
                                <span></span>
                            </label>
                            <label class="mt-radio mt-radio-disabled">
                                <input type="radio" name="optionsRadios" id="optionsRadios5" value="false" data-bind="checked:MateriaPrima.Secado" disabled> No
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Temperatura</label>
                        <span class="caInfo" data-bind="text:MateriaPrima.Temperatura() + '°C'">80.1 ºC</span>
                    </div>
                </div>
                <div class="col-md-6 clsCol">
                    <div class="form-group dataSufix">
                        <label>Tiempo</label>
                        <span class="caInfo" data-bind="text:MateriaPrima.Tiempo() + 'Hrs.'">80.1 ºC</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Familia</label>
                        <span class="caInfo" data-bind="text:MateriaPrima.Familia">80.1 ºC</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Porcentaje de humedad</label>
                        <span class="caInfo" data-bind="text:MateriaPrima.PorcentajeHumedad() + '%'">0.05%</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Amorfo / Semi</label>
                        <span class="caInfo" data-bind="text:MateriaPrima.AmorfoSemi()? 'Semicristalino': 'Amorfo'">Amorfo</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Polímero</label>
                        <span class="caInfo" data-bind="text:MateriaPrima.Polimero">PA+GF</span>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-group">
                            <label>*Descripción</label>
                            <span class="caInfo" data-bind="text:MateriaPrima.Descripcion"></span>
                        </div>
                    </div>
                </div>

            </div>

    </div>
</div>

<!-- END CONTENT BODY -->