﻿<!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="EditarUsuarioPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Registrar Usuario</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" title="Regresar al listado de usuarios" onclick="GreinerAssistec.App.Usuario.RegresarListadoUsuarios(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="caTopInfo">
                    <div class="row">
                        <div class="row" style="align-content:center; text-align:center">
                            <div class="pictureContainer">
                                <img alt="Mariela Rosas" src="/assets/layouts/layout/img/photo3.jpg" data-bind="attr:{src:Usuario.FotoTemporal}">
                            </div>
                            <input id="CargaFotoUpload" type="file" style="display:none">
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <button id="resetBtn" class="btn-primary">Resetear</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <button id="changeBtn" class="btn-primary">Cambiar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Correo</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" class="form-control" placeholder="Correo" data-bind="value:Usuario.Correo">
                                <span data-bind="validationElement:Usuario.Correo, visible:Usuario.Correo.isValid() ? false : true" class="errorNotification">X</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Contraseña</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" class="form-control" placeholder="Contrasena" data-bind="value:Usuario.Contrasena">
                                <span data-bind="validationElement:Usuario.Contrasena, visible:Usuario.Contrasena.isValid() ? false : true" class="errorNotification">X</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Nombre</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" class="form-control" placeholder="Nombre" data-bind="value:Usuario.Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Apellido Paterno</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" class="form-control" placeholder="Apellido Paterno" data-bind="value:Usuario.ApellidoPaterno">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Apellido Materno</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" class="form-control" placeholder="Apellido Materno" data-bind="value:Usuario.ApellidoMaterno">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Genero</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select data-bind='value:Usuario.Genero,
                                                                   options:ListaGeneros,
                                                                   optionsValue:"Value",
                                                                   optionsText:"DisplayText"' class="form-control"></select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Telefono Móvil</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" placeholder="Movil" data-bind="value:Usuario.TelefonoMovil">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Fecha Nacimiento</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="ctrlDate1" type='text' class="form-control" data-bind="value:Usuario.FechaNacimiento" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Area</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" placeholder="Area" data-bind="value:Usuario.Area">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Departamento</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" placeholder="Departamento" data-bind="value:Usuario.Departamento">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Puesto</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" placeholder="Puesto" data-bind="value:Usuario.Puesto">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Perfil Usuario</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" placeholder="PerfilUsuario" data-bind="value:Usuario.PerfilUsuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Fecha Ingreso</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class='input-group date' id='datetimepicker2'>
                            <input id="ctrlDate2" type='text' class="form-control" data-bind="value:Usuario.FechaIngreso" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Estatus</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <select data-bind='value:Usuario.Estatus,
                                                                   options:ListaEstatus,
                                                                   optionsValue:"IdEstatusUsuario",
                                                                   optionsText:"Nombre"' class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs">
            </div>
            <div class="col-md-6 actionButtons">
                <button type="button" class="btn yellow-gold uppercase" onclick="GreinerAssistec.App.Usuario.RegresarListadoUsuarios(true,true)">Cancelar</button>
                <button type="submit" class="btn blue uppercase" data-bind="click:Usuario.GuardaUsuario">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->