﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="PerfilUsuarioPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Usuario</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" title="Regresar al listado de usuarios" onclick="GreinerAssistec.App.Usuario.RegresarListadoUsuarios(false,false)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="caRows">
            <div class="caTopInfo">
                <div class="pictureContainer">
                    <img alt="Mariela Rosas" src="/assets/layouts/layout/img/photo3.jpg" data-bind="attr:{src:Usuario.FotoTemporal}">
                </div>
                <div class="profileInfo">
                    <h4 data-bind="text:Usuario.Nombre() !=Window.undefined? Usuario.Nombre()+' '+ Usuario.ApellidoPaterno()+' '+ Usuario.ApellidoMaterno():Usuario.Correo">Mariela Rosas</h4>
                    <span></span>
                    <h6>PERFIL DE USUARIO</h6>
                    <ul>
                        <li class="span-data"><b>Nombre:</b><span data-bind="text:Usuario.Nombre"></span> </li>
                        <li class="span-data"><b>Apellido Paterno:</b> <span data-bind="text:Usuario.ApellidoPaterno"></span></li>
                        <li class="span-data"><b>Apellido Materno:</b><span data-bind="text:Usuario.ApellidoMaterno"></span></li>
                        <li class="span-data"><b>Correo Electrónico:</b><span data-bind="text:Usuario.Correo"></span></li>
                        <li class="span-data"><b>Perfil:</b><span data-bind="text:Usuario.PerfilUsuario"></span></li>
                    </ul>
                </div>
            </div>
            <div class="caBottomInfo">
                <div class="caCol personalInfo">
                    <h6 class="lps">INFORMACIÓN PERSONAL</h6>
                    <ul>
                        <li class="span-data"><b>Móvil:</b><span data-bind="text:Usuario.TelefonoMovil"></span></li>
                        <li class="span-data"><b>Género:</b><span data-bind="text:Enumerable.from(GreinerAssistec.App.ViewModel().ListaGeneros()).where(function(x){return x.Value ==Usuario.Genero();}).firstOrDefault()!= Window.undefined ? Enumerable.from(GreinerAssistec.App.ViewModel().ListaGeneros()).where(function(x){return x.Value ==Usuario.Genero();}).firstOrDefault().DisplayText:''"></span></li>
                        <li class="span-data"><b>F. Nacimiento:</b><span data-bind="text:Usuario.FechaNacimiento"></span></li>
                    </ul>
                </div>
                <div class="caCol peps">
                    <h6 class="tps">INFORMACIÓN LABORAL</h6>
                    <ul>
                        <li class="span-data"><b>Departamento:</b> <span data-bind="text:Usuario.Departamento"></span></li>
                        <li class="span-data"><b>Puesto:</b><span data-bind="text:Usuario.Puesto"></span></li>
                        <li class="span-data"><b>Area:</b><span data-bind="text:Usuario.Area"></span></li>
                        <li class="span-data"><b>F. Ingreso:</b><span data-bind="text:Usuario.FechaIngreso"></span></li>
                        <li class="span-data"><b>Estatus:</b> <span data-bind="text:Enumerable.from(GreinerAssistec.App.ViewModel().ListaEstatus()).where(function(x){return x.IdEstatusUsuario ==Usuario.Estatus();}).firstOrDefault() != Window.undefined ? Enumerable.from(GreinerAssistec.App.ViewModel().ListaEstatus()).where(function(x){return x.IdEstatusUsuario ==Usuario.Estatus();}).firstOrDefault().Nombre:''"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->