﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoMoldesPanel">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Moldes</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.Molde.AltaMolde()">Crear</a>
    </div>
    <div class="portlet-body" >
        <div class="table-responsive">
            <!--Table-->
            <table class="table"  style="z-index:0" id="MoldeTbl">
                <thead>
                    <tr>
                        <th>Molde</th>
                        <th>Nombre</th>
                        <th>TonelajeCotizado</th>
                        <th>TonelajeReal</th>
                        <th>Cliente</th>
                        <th>Descripcion</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->
<!--

<tbody>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
-->
