﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="PerfilMoldePanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Moldes</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Molde.RegresarListadoMoldes(false,false)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="caActionsButtons pull-right">
                    <a data-bind="click:function(){ GreinerAssistec.App.Molde.ArchivarMolde (Molde.IdMolde(),false);}">
                        <i class="caDelElement"></i>
                    </a>
                    <a data-bind="click:function(){ GreinerAssistec.App.Molde.EditarMolde(Molde.IdMolde()); }">
                        <i class="caEditElement"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        *Molde
                    </label>
                    <span class="caInfo" data-bind="text:Molde.Codigo">PDT14</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Nombre</label>
                    <span class="caInfo" data-bind="text:Molde.Nombre">14 inch. Door filler</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Tonelaje cotizado</label>
                    <span class="caInfo" data-bind="text:Molde.TonelajeCotizado">400</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Tonelaje real</label>
                    <span class="caInfo" data-bind='text:Molde.TonelajeReal'>160</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Cliente</label>
                    <span class="caInfo" data-bind="text:Molde.Cliente">Rhem</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label>*Descripción</label>
                        <span class="caInfo" data-bind="text:Molde.Descripcion">Lorem ipsum atom</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->