﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoInsertosPanel" style="min-height: 574px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Insertos</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.Inserto.AltaInserto()">Crear</a>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-striped table-bordered" id="InsertoTbl">
                <thead>
                    <tr>
                        <th>Inserto</th>
                        <th>Peso</th>
                        <th>Cavidades</th>
                        <th>Cavidades Funcionales</th>
                        <th>Colada</th>
                        <th>Colada Cotizada</th>
                        <th>Ciclo</th>
                        <th>Ciclo Real</th>
                        <th>Maq. Hrs</th>
                        <th>Instruccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->