﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="PerfilComponentePanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Componente</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Componente.RegresarListadoComponentes(false,false)">Regresar</a>
    </div>
    <div class="portlet-body" style="margin-left:10px;margin-right:10px">
        <div class="row">
            <div class="row">
                <div class="caActionsButtons pull-right">
                    <a data-bind="click:function(){ GreinerAssistec.App.Componente.EliminarComponente (Componente.IdComponente(),false); }">
                        <i class="caDelElement"></i>
                    </a>
                    <a data-bind="click:function(){ GreinerAssistec.App.Componente.EditarComponente(Componente.IdComponente()); }">
                        <i class="caEditElement"></i>
                    </a>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            *N.P. Interno
                        </label>
                        <span class="caInfo" data-bind="text:Componente.NPInterno"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tipo</label>
                        <span class="caInfo" data-bind="text:Componente.Tipo"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Medida</label>
                        <span class="caInfo" data-bind="text:Componente.Medida"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Cliente</label>
                        <span class="caInfo" data-bind="text:Componente.Cliente"></span>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-group">
                            <label>*Descripción</label>
                            <span class="caInfo" data-bind="text:Componente.Descripcion"></span>
                        </div>
                    </div>
                </div>

            </div>

    </div>
</div>

<!-- END CONTENT BODY -->