﻿        <!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#">
                <img src="/assetsNewVersion/layouts/layout/img/logo.svg" alt="logo" class="logo-default" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
                <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="../assetsNewVersion/layouts/layout/img/avatar3_small.jpg" />
                        <span data-bind="text:CardLogged.UserName" class="username username-hide-on-mobile"> Nick </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a data-bind="click:ShowProfile">
                                <i class="icon-user"></i> Mi perfil
                            </a>
                        </li>
                        <li>
                            <a data-bind="click:EditProfile">
                                <i class="icon-pencil"></i> Editar perfil
                            </a>
                        </li>
                        <li>
                            <a data-bind="click:ChangePassword">
                                <i class="icon-key"></i> Cambiar contraseña
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a  onclick="GreinerAssistec.App.Login.Logout(); return false;">
                                <i class="icon-login"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <ul class="iconsActions">
            <li><a href="" class="userInfo" data-bind="click:ShowProfile"></a></li>
            <li><a href="" class="userPass" title="Cambio de Contraseña" data-bind="click:ChangePassword"></a></li>
            <li><a href="" class="userEdit" data-bind="click:EditProfile"></a></li>
            <li><a href="" class="logOut" onclick="GreinerAssistec.App.Login.Logout(); return false;"></a></li>
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
