﻿            <!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="heading">
                <h3 class="uppercase">Menu principal</h3>
            </li>
            <li class="nav-item  active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Usuarios</span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/Seguridad/Usuario/Inicio" class="nav-link ">
                            <span class="title">Listado de usuarios</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">Catálogo</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item" style="display:none">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Número de parte</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="ui_page_progress_style_1.html" class="nav-link"> Agregar N.P.</a>
                            </li>
                            <li class="nav-item">
                                <a href="ui_page_progress_style_2.html" class="nav-link"> Listado de N.P.</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Moldes</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Moldes" class="nav-link "> Listado de Molde</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Moldes?redirect=new" class="nav-link "> Agregar Molde</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Componentes</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Componentes" class="nav-link "> Listado de Componentes</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Componentes?redirect=new" class="nav-link "> Agregar Componente</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Insertos</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Insertos" class="nav-link "> Listado de Insertos</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Insertos?redirect=new" class="nav-link "> Agregar Insertos</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Empaques</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Empaques" class="nav-link "> Listado de Empaques</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Empaques?redirect=new" class="nav-link "> Agregar Empaques</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Máquinas</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Maquinas" class="nav-link "> Listado de Máquinas</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/Maquinas?redirect=new" class="nav-link"> Agregar Máquinas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Materia prima</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/MateriaPrima" class="nav-link "> Listado de Materia Prima</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Catalogos/Catalogos/MateriaPrima?redirect=new" class="nav-link "> Agregar Materia Prima</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
