﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Greiner Assistec</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
<meta content="" name="author" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/jquery-ui-1.12.1/jquery-ui.js")


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<!--
Styles.Render("~/Scripts/jtable.2.4.0/themes/basic/jtable_basic.min.css")
Styles.Render("~/Scripts/jtable.2.4.0/themes/lightcolor/red/jtable.css")
Scripts.Render("~/Scripts/jtable.2.4.0/jquery.jtable.js")
Scripts.Render("~/Scripts/jtable.2.4.0/localization/jquery.jtable.es.js")

BEGIN GLOBAL MANDATORY STYLES
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
@Styles.Render("~/assetsNewVersion/global/plugins/font-awesome/css/font-awesome.min.css")
@Styles.Render("~/assetsNewVersion/global/plugins/simple-line-icons/simple-line-icons.min.css")
@Styles.Render("~/assetsNewVersion/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")
@Styles.Render("~/assetsNewVersion/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
<!--
    Styles.Render("~/assetsNewVersion/global/plugins/bootstrap/css/bootstrap.min.css")
    END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
@Styles.Render("~/assetsNewVersion/global/plugins/datatables/datatables.min.css")
@Styles.Render("~/assetsNewVersion/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
@Styles.Render("~/assetsNewVersion/global/css/components.min.css")
@Styles.Render("~/assetsNewVersion/global/css/plugins.min.css")
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
@Styles.Render("~/assetsNewVersion/layouts/layout/css/layout.min.css")
@Styles.Render("~/assetsNewVersion/layouts/layout/css/themes/light.min.css")
@Styles.Render("~/assetsNewVersion/layouts/layout/css/custom.min.css")
@Styles.Render("~/assetsNewVersion/layouts/layout/css/custom.css")
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="/Greiner_Assistec_Logo.ico" />