﻿<!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="EditarEmpaquePanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Registrar Empaque</span>
            <small>Favor de llenar los siguientes campos para poder dar de alta un empaque.</small>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Empaque.RegresarListadoEmpaques(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        *N.P. Interno
                    </label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        <input type="text" data-bind="value:Empaque.NPInterno" class="form-control" name="text" placeholder="4010445" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Tipo</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Empaque.Tipo">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Caja pallets</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Empaque.CajasPallets">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group dataSufix">
                    <label>Kilos que soporta</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" data-bind="value:Empaque.KilosSoporta">
                        <span class="input-group-addon">
                            Kgs
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Niveles de caja por tarima</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Empaque.NivelesCajaTarima">
                </div>
            </div>
            <div class="col-md-6" style="display:none">
                <div class="form-group">
                    <label>*Status</label>
                    <select class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>*Descripción</label>
                        <textarea class="form-control" rows="3" data-bind="value:Empaque.Descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 hidden-xs">
        </div>
        <div class="col-md-6 actionButtons">
            <button type="button" class="btn blue uppercase" onclick="GreinerAssistec.App.Empaque.RegresarListadoEmpaques(true,true)">Cancelar</button>
            <button type="button" data-bind="click:Empaque.GuardaEmpaque" class="btn yellow-gold uppercase">Guardar</button>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->