﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoEmpaquesPanel" style="min-height: 574px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Empaques</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.Empaque.AltaEmpaque()">Crear</a>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-striped table-bordered" id="EmpaqueTbl">
                <thead>
                    <tr>
                        <th>NP Interno</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Cajas Pallets</th>
                        <th>Kilos que soporta</th>
                        <th>Niveles de caja por tarima</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->