﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="PerfilEmpaquePanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Empaque</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Empaque.RegresarListadoEmpaques(false,false)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="caActionsButtons pull-right">
                        <a data-bind="click:function(){ GreinerAssistec.App.Empaque.EliminarEmpaque (Empaque.IdEmpaque(),false); }">
                            <i class="caDelElement"></i>
                        </a>
                        <a data-bind="click:function(){ GreinerAssistec.App.Empaque.EditarEmpaque(Empaque.IdEmpaque()); }">
                            <i class="caEditElement"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dataFixed">
                        <label class="control-label">
                            *N.P. Interno
                        </label>
                        <span class="caInfo" data-bind="text:Empaque.NPInterno">4010000</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tipo</label>
                        <span class="caInfo" data-bind="text:Empaque.Tipo">Inserto</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Caja pellets</label>
                        <span class="caInfo" data-bind="text:Empaque.CajasPallets">15</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Kilos que soporta</label>
                        <span class="caInfo" data-bind="text:Empaque.KilosSoporta">10.5</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Niveles de caja por tarima</label>
                        <span class="caInfo" data-bind="text:Empaque.NivelesCajaTarima">1</span>
                    </div>
                </div>
                <div class="col-md-6" style="display:none">
                    <div class="form-group">
                        <label>*Status</label>
                        <span class="caInfo">Activo</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label>*Descripción</label>
                            <span class="caInfo" data-bind="text:Empaque.Descripcion">Lorem ipsum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->