﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoUsuariosPanel">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Usuarios</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.Usuario.AltaUsuario()">Crear</a>
    </div>
    <div class="portlet-body" >
        <form role="form" style="display:none">
            <div class="row caFilters">
                <div class="col-md-6">
                    <div class="input-group input-medium">
                        <input type="text" class="form-control" placeholder="Info de Usuario...">
                        <span class="input-group-btn">
                            <button class="btn blue" type="button">Buscar!</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group pull-right sHw">
                        <div class="input select">
                            <select name="page_limit" autocomplete="off" class="form-control select-filtro">
                                <option value="">Limit</option>
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-striped table-bordered" id="UserTbl">
                <thead>
                    <tr>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>ApellidoPaterno</th>
                        <th>ApellidoMaterno</th>
                        <th>Genero</th>
                        <th>TelefonoMovil</th>
                        <th>FechaNacimiento</th>
                        <th>Area</th>
                        <th>Departamento</th>
                        <th>Puesto</th>
                        <th>PerfilUsuario</th>
                        <th>FechaIngreso</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row" style="display:none">
            <div class="col-md-5 col-sm-5">
                <div class="dataTables_info">
                    <small>Showing 1 to 10 of 12 entries</small>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate">
                    <ul class="pagination pagination-sm pull-right">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 1 </a>
                        </li>
                        <li class="active">
                            <a href="javascript:;"> 2 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 3 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 4 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 5 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 6 </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->
<!--

<tbody>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 40 </td>
                        <td> Jorge Fernandez </td>
                        <td> ngernandez@gmail.com</td>
                        <td> Cotización normal </td>
                        <td> <span class="badge badge-success"> Activo </span> </td>
                        <td>
                            <div class="btn-group bcs">
                                <button class="btn dropdown-toggle dropdown-toggle caActions" data-toggle="dropdown" aria-expanded="false">acciones</button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="">
                                            Ver Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Editar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Eliminar Usuario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Ver permisos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
-->
