﻿
@{
    ViewBag.Title = "Listado de Insertos";
    string relativePath = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, (Request.ApplicationPath != "/" ? Request.ApplicationPath + "/" : "/"));
    string uNameLogged = "";
    if (Request.IsAuthenticated)
    {
        uNameLogged = System.Web.HttpContext.Current.User.Identity.Name;
    }
}

<script>
    $(document).ready(function () {
        var relativePath = "@relativePath";
        var uNameLogged = '@uNameLogged';

        GreinerAssistec.App.Initialize(relativePath, "@Request.Url.Scheme");
        GreinerAssistec.App.Login.Initialize(true, uNameLogged, false, false);
        GreinerAssistec.App.Inserto.Initialize();
    });
</script>

<div id="alertHome" class="alert-dismissible" role="alert" style="visibility:collapse">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="alertContent"></div>
</div>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- END PAGE HEADER-->
        <!-- BEGIN CONTENT -->
        @Html.Partial("~/Areas/Catalogos/Views/Shared/Inserto/_ListInsertosView.cshtml")
        @Html.Partial("~/Areas/Catalogos/Views/Shared/Inserto/_EditInsertoView.cshtml")
        @Html.Partial("~/Areas/Catalogos/Views/Shared/Inserto/_ProfileInsertoView.cshtml")
        <!--  END CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<!-- END CONTENT -->