﻿<!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="EditarMaquinaPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Registrar Maquina</span>
            <small>Favor de llenar los siguientes campos para poder dar de alta una maquina.</small>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Maquina.RegresarListadoMaquinas(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        *Número activo
                    </label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        <input type="text" data-bind="value:Maquina.NumeroActivo" class="form-control" name="text" placeholder="4010445" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Nombre</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Maquina.Nombre">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tonelaje</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Maquina.Tonelaje">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Diametro de Husillo</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Maquina.DiametroHusillo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Comentarios</label>
                    <input type="text" class="form-control" placeholder="" data-bind="value:Maquina.Comentarios">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Tipo</label>
                    <select data-bind='value:Maquina.Tipo,
                                           options:ListaTipos,
                                           optionsValue:"Id",
                                           optionsText:"Nombre"' class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>*Descripción</label>
                        <textarea class="form-control" rows="3" data-bind="value:Maquina.Descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 hidden-xs">
        </div>
        <div class="col-md-6 actionButtons">
            <button type="button" class="btn blue uppercase" onclick="GreinerAssistec.App.Maquina.RegresarListadoMaquinas(true,true)">Cancelar</button>
            <button type="button" data-bind="click:Maquina.GuardaMaquina" class="btn yellow-gold uppercase">Guardar</button>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->