﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoMaquinasPanel" style="min-height: 574px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Maquinas</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.Maquina.AltaMaquina()">Crear</a>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-striped table-bordered" id="MaquinaTbl">
                <thead>
                    <tr>
                        <th>Numero Activo</th>
                        <th>Nombre</th>
                        <th>Tonelaje</th>
                        <th>Diametro de Husillo</th>
                        <th>Comentarios</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->