﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="PerfilMaquinaPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Maquina</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Maquina.RegresarListadoMaquinas(false,false)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="caActionsButtons pull-right">
                        <a data-bind="click:function(){ GreinerAssistec.App.Maquina.EliminarMaquina (Maquina.IdMaquina(),false); }">
                            <i class="caDelElement"></i>
                        </a>
                        <a data-bind="click:function(){ GreinerAssistec.App.Maquina.EditarMaquina(Maquina.IdMaquina()); }">
                            <i class="caEditElement"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dataFixed">
                        <label class="control-label">
                            *Número activo
                        </label>
                        <span class="caInfo" data-bind="text:Maquina.NumeroActivo">4010000</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Nombre</label>
                        <span class="caInfo" data-bind="text:Maquina.Nombre">Inserto</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tonelaje</label>
                        <span class="caInfo" data-bind="text:Maquina.Tonelaje">15</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label>Diametro de huisillo</label>
                        <span class="caInfo" data-bind="text:Maquina.DiametroHusillo">10.5</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Comentarios</label>
                        <span class="caInfo" data-bind="text:Maquina.Comentarios">1</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tipo</label>
                        <select data-bind='value:Maquina.Tipo,
                                           options:ListaTipos,
                                           optionsValue:"Id",
                                           optionsText:"Nombre"' class="form-control" disabled></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label>*Descripción</label>
                            <span class="caInfo" data-bind="text:Maquina.Descripcion">Lorem ipsum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->