﻿<!-- BEGIN CONTENT BODY -->

<div class="portlet light bordered" id="EditarInsertoPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Editar Inserto</span>
            <small>Favor de llenar los siguientes campos para poder dar de alta un inserto.</small>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Inserto.RegresarListadoInsertos(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Inserto
                        </label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input type="text" class="form-control" name="email" placeholder="PDTE14" data-bind="value:Inserto.Codigo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label class="control-label">
                            *Peso
                        </label>
                        <div class="input-group input-icon right">

                            <input type="text" class="form-control" data-bind="value:Inserto.Peso" />
                            <span class="input-group-addon">
                                Kgs
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Cavidades</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:Inserto.Cavidades">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Cavidades funcionales</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:Inserto.CavidadesFuncionales">
                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label class="control-label">
                            *Colada
                        </label>
                        <div class="input-group input-icon right">

                            <input type="text" class="form-control" data-bind="value:Inserto.Colada" />
                            <span class="input-group-addon">
                                Kgs
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Colada Cotizada</label>
                        <div class="mt-radio-inline">
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="true" data-bind="checked:Inserto.ColadaCotizada"> Sí
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios5" value="false" data-bind="checked:Inserto.ColadaCotizada"> No
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-6 clsCol">
                    <div class="form-group dataSufix">
                        <label class="control-label">
                            *Ciclo
                        </label>
                        <div class="input-group input-icon right">

                            <input type="text" class="form-control" data-bind="value:Inserto.Ciclo" />
                            <span class="input-group-addon">
                                Seg
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dataSufix">
                        <label class="control-label">
                            *Ciclo Real
                        </label>
                        <div class="input-group input-icon right">

                            <input type="text" class="form-control" data-bind="value:Inserto.CicloReal" />
                            <span class="input-group-addon">
                                Seg
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Maqhrs</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:Inserto.Maqhrs">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputFile" class="control-label">Archivo:</label>
                        <a class="caInfo"
                           data-bind="text:(Inserto.Instruccion()!= Window.undefined ? Inserto.Instruccion(): '').replace('/Uploads/Inserto/Archivos/', ''), click:function() { GreinerAssistec.App.Inserto.DescargaArchivo(GreinerAssistec.App.ViewModel().General.RelativePath() + GreinerAssistec.App.ViewModel().Inserto.Instruccion()); }"></a>
                        <input type="file" id="exampleInputFile">
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs">
            </div>
            <div class="col-md-6 actionButtons">
                <button type="button" class="btn blue uppercase" onclick="GreinerAssistec.App.Inserto.RegresarListadoInsertos(true,true)">Cancelar</button>
                <button type="button" class="btn yellow-gold uppercase" data-bind="click:Inserto.GuardaInserto">Guardar</button>
            </div>

        </div>
    </div>
</div>
<!-- END CONTENT BODY -->