﻿   <!-- BEGIN CONTENT BODY -->
ƒ<div class="portlet light bordered" id="PerfilInsertoPanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Inserto</span>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate"  onclick="GreinerAssistec.App.Inserto.RegresarListadoInsertos(false,false)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="caActionsButtons pull-right">
                    <a data-bind="click:function(){ GreinerAssistec.App.Inserto.EliminarInserto (Inserto.IdInserto(),false); }">
                        <i class="caDelElement"></i>
                    </a>
                    <a data-bind="click:function(){ GreinerAssistec.App.Inserto.EditarInserto(Inserto.IdInserto()); }">
                        <i class="caEditElement"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        *Inserto
                    </label>
                    <span class="caInfo" data-bind="text:Inserto.Codigo">PDT14</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group dataSufix">
                    <label class="control-label">
                        *Peso
                    </label>
                    <span class="caInfo" data-bind="text:Inserto.Peso">0.16444 Kgs</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Cavidades</label>
                    <span class="caInfo" data-bind="text:Inserto.Cavidades">1</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Cavidades funcionales</label>
                    <span class="caInfo" data-bind="text:Inserto.CavidadesFuncionales">1</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group dataSufix">
                    <label class="control-label">
                        *Colada
                    </label>
                    <span class="caInfo"  data-bind="text:Inserto.Colada">0.01711 Kgs</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Colada Cotizada</label>
                    <div class="mt-radio-inline">
                        <label class="mt-radio mt-radio-disabled">
                            <input type="radio" name="optionsRadios" data-bind="checked:Inserto.ColadaCotizada" id="optionsRadios4" value="true" checked="" disabled=""> Sí
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-disabled">
                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="false"  data-bind="checked:Inserto.ColadaCotizada" disabled=""> No
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 clsCol">
                <div class="form-group dataSufix">
                    <label class="control-label">
                        *Ciclo
                    </label>
                    <span class="caInfo"  data-bind="text:Inserto.Ciclo">60 Segs</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group dataSufix">
                    <label class="control-label">
                        *Ciclo Real
                    </label>
                    <span class="caInfo" data-bind="text:Inserto.CicloReal">60 Segs</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*Maqhrs</label>
                    <span class="caInfo" data-bind="text:Inserto.Maqhrs">0.01667</span>
                </div>
            </div>
            <div class="col-md-6 pb_20">
                <div class="form-group">
                    <label for="exampleInputFile" class="control-label">Archivo</label>
                    <a class="caInfo"  data-bind="text:(Inserto.Instruccion()!= Window.undefined ? Inserto.Instruccion(): '').replace('/Uploads/Inserto/Archivos/', ''), click:function() { GreinerAssistec.App.Inserto.DescargaArchivo(GreinerAssistec.App.ViewModel().General.RelativePath() + GreinerAssistec.App.ViewModel().Inserto.Instruccion()); }">archivo_subido.txt</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END CONTENT BODY -->