﻿<!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="EditarComponentePanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Registrar Componente</span>
            <small>Favor de llenar los siguientes campos para poder dar de alta un componente.</small>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Componente.RegresarListadoComponentes(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            *N.P. Interno
                        </label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input type="text" data-bind="value:Componente.NPInterno" class="form-control" name="text" placeholder="4010445" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tipo</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:Componente.Tipo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Medida</label>
                        <input type="text" class="form-control" placeholder="" data-bind="value:Componente.Medida">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Cliente</label>
                        <input style="display:none" type="text" class="form-control" placeholder="" data-bind="value:Componente.Cliente">
                        <select class="form-control" data-bind="value:Componente.Cliente,options:ListaClientes"></select>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>*Descripción</label>
                        <textarea class="form-control" rows="3" data-bind="value:Componente.Descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs">
            </div>
            <div class="col-md-6 actionButtons">
                <button type="button" class="btn blue uppercase" onclick="GreinerAssistec.App.Componente.RegresarListadoComponentes(true,true)">Cancelar</button>
                <button type="button" data-bind="click:Componente.GuardaComponente" class="btn yellow-gold uppercase">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->