﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoComponentesPanel" style="min-height: 574px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Componentes</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.Componente.AltaComponente()">Crear</a>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-striped table-bordered" id="ComponenteTbl">
                <thead>
                    <tr>
                        <th>NP Interno</th>
                        <th>Tipo        </th>
                        <th>Descripcion </th>
                        <th>Medida      </th>
                        <th>Cliente     </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->