﻿
@{
    ViewBag.Title = "Ingresar";
    Layout = null;
    string relativePath = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, (Request.ApplicationPath != "/" ? Request.ApplicationPath + "/" : "/"));
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    $(document).ready(function () {
        nanobar.go(76); // size bar 76%
        
        var relativePath = "@relativePath";
        GreinerAssistec.App.Initialize(relativePath, "@Request.Url.Scheme");
        GreinerAssistec.App.Login.Initialize();
    });
</script>
<link rel="shortcut icon" href="/Content/assets/pages/img/oxxo_gas_.ico" />
@Styles.Render("~/Content/assets/pages/css/login_.css")
<section id="color"></section>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<div id="alertLogin" class="alert-dismissible" role="alert" style="visibility:hidden">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="alertContent"></div>
</div>
<div class="login-wrap">
    <div class="login-html">
        <div style="margin:auto;width:100px;height:100px;background-image:url('/Content/assets/pages/img/oxxo_gas_.png');background-size:100px 100px;"></div>
        <br /><br />
        <label for="tab-1" class="tab" style="font-size:15px">Activar nueva contraseña</label>
        <div class="login-form">
            <div class="sign-ip-htm">
                <div class="group">
                    <label for="pass" class="label"></label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input id="updatePasswordCliente" type="password" class="input" placeholder="Contraseña">
                    </div>
                </div>
                <div class="group">
                    <label for="pass" class="label"></label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input id="updatePasswordCliente2" type="password" class="input" placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Guardar nueva Contraseña" onclick="GreinerAssistec.App.Login.SaveNewPassword()">
                </div>
                <div class="hr"></div>
                <br />
                <div style="text-align:center;margin:auto; margin-top:40px;height:65px;width:200px;background-repeat:no-repeat; background-image:url('/Content/assets/pages/img/oxxo_gas2222.png');background-size:100%"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var options = {
        classname: 'color',
        id: 'color',
        target: document.getElementById('color')
    };

    var nanobar = new Nanobar(options);

    // move bar
    nanobar.go(30); // size bar 30%
</script>





<div class="modal fade" id="ModalAlert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAlertTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalAlertMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="ModalAlertAccept">Aceptar</button>
            </div>
        </div>
    </div>
</div>