﻿@{
    ViewBag.Title = "Ingres0";
    string relativePath = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, (Request.ApplicationPath != "/" ? Request.ApplicationPath + "/" : "/"));
}
<!DOCTYPE html>
<!--
  Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
  Version: 4.7.1
  Author: KeenThemes
  Website: http://www.keenthemes.com/
  Contact: support@keenthemes.com
  Follow: www.twitter.com/keenthemes
  Dribbble: www.dribbble.com/keenthemes
  Like: www.facebook.com/keenthemes
  Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
  -->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js">
  <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
  <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Greiner Assistec</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="/Greiner_Assistec_Logo.ico" />

    <style>
            /*

            ESTILO ERROR CONTROLS

        */
            .errorNotification {
                position: absolute;
                height: 2rem;
                width: 2rem;
                padding-bottom: 3px;
                -webkit-transition: color 0.2s;
                -moz-transition: color 0.2s;
                -o-transition: color 0.2s;
                -ms-transition: color 0.2s;
                transition: color 0.2s;
                font-size: 9px;
                text-align: center;
                align-content: center;
                background-color: red;
                -moz-border-radius: 20px !important;
                -webkit-border-radius: 20px !important;
                border-radius: 20px !important;
                display: inline-block;
                cursor: pointer;
                color: white;
                font-weight: bold;
                text-decoration: none;
                text-shadow: 1px 0px 8px #2f6627;
                padding-top: 5px;
                margin-top: -30px;
                right:0px;
            }

                .errorNotification:hover {
                    background-color: #fd3535;
                }

            .validationMessage {
                display: none;
            }
    </style>

</head>

<body class="login">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Html.Partial("_StyleReferencesLogin")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Html.Partial("_ScriptsReferencesLogin")
    <script>

        $(document).ready(function () {
            //nanobar.go(76);
            var esActivacion;
            if (window.location.href.split('=')[1] != Window.undefined) {
                esActivacion = true;
            }
            else {
                esActivacion = false;
            }
            var relativePath = "@relativePath";
            GreinerAssistec.App.Initialize(relativePath, "@Request.Url.Scheme");
            GreinerAssistec.App.Login.Initialize(false, "", true, esActivacion);
        });
    </script>

    <div id="alertLogin" class="alert-dismissible" role="alert" style="visibility:collapse">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="alertContent" style="text-align:center;align-content:center;font-weight:bolder"></div>
    </div>

    <!-- BEGIN LOGO -->
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="#">
                <img src="/assetsNewVersion/layouts/layout/img/logo.svg" alt="" />
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN FORM -->
        <div id="LoginView" style="display:normal" class="login-form">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control inUser" type="email" autocomplete="off" placeholder="Correo" name="username"
                       data-bind="value:Login.Email" />
                <span data-bind="validationElement:Login.Email, visible:Login.Email.isValid() ? false : true" class="errorNotification">X</span>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                <input class="form-control inPass" type="password" autocomplete="off" name="password"
                       data-bind="value:Login.Password" placeholder="Contraseña" />
                <span data-bind="validationElement:Login.Password, visible:Login.Password.isValid() ? false : true" class="errorNotification">X</span>
            </div>
            <div class="form-actions">
                <div class="pull-left">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" data-bind="ckecked:Login.MantenerLogueado" /> Mantenerme logueado
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn yellow-gold btn-block uppercase" data-bind="click:Login.Accesar">Iniciar sesión</button>
            </div>
            <div class="create-account">
                <div class="forget-password-block">
                    <a href="javascript:;" id="forget-password" class="forget-password" data-bind="click:RecoverPassword">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <div id="forgotPassView" class="forget-form" style="display:none">
            <div class="form-title">
                <span class="form-title">¿Olvidó su contraseña?</span>
                <span class="form-subtitle">Introduzca su correo a resetear.</span>
            </div>
            <div class="form-group">
                <input class="form-control inUser" type="email" autocomplete="off" placeholder="Email" name="email" data-bind="value:Login.Email" />
            </div>
            <div class="form-actions">
                <button type="submit" class="btn yellow-gold  uppercase" data-bind="click:SendPasswordToEmail">Enviar</button>
                <button type="button" id="back-btn" data-bind="click:BackToLoginView">Atras</button>
            </div>
        </div>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright hide"> 2014 © Metronic. Admin Dashboard Template. </div>
</body>
</html>