﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "No Autorizado";
    string relativePath = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, (Request.ApplicationPath != "/" ? Request.ApplicationPath + "/" : "/"));
    string uNameLogged = "";
    if (Request.IsAuthenticated)
    {
        uNameLogged = System.Web.HttpContext.Current.User.Identity.Name;
    }
}


<script>
    $(document).ready(function () {
        var relativePath = "@relativePath";
        var authenticated = '@Request.IsAuthenticated';
        var uNameLogged = '@uNameLogged';
        if (authenticated == "True") {
            authenticated = true;
        }
        else {
            authenticated = false;
        }
        console.log("authenticated: " + authenticated + ", uNameLogged: " + uNameLogged);
        GreinerAssistec.App.Initialize(relativePath, "@Request.Url.Scheme");
        GreinerAssistec.App.Login.Initialize(authenticated, uNameLogged, false);
        GreinerAssistec.App.Home.Initialize();
    });
</script>


<div class="jumbotron" style="text-align:center">

    <h1 style="background-image:url(https://images.mysafetysign.com/img/lg/S/no-enter-restricted-area-sign-s-0915g.png); background-repeat:no-repeat;background-size:50% auto; margin-left:30%; height:400px"></h1>
</div>
<div class="row">

</div>
