/* here you can put your own css to customize and override the theme */
.page-header.navbar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
body {
    background-color: #fff;
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a {
    background: #006882;
    border-left: 4px solid transparent;
    color: #fff;
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover {
    border-left: 4px solid transparent;
    background: #006882;
}
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
    color: #fff;
}
.page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before, 
.page-sidebar .page-sidebar-menu li:hover>a>.arrow:before, 
.page-sidebar .page-sidebar-menu li>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before {
    color: #fff;
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: #fbfbfb;
}
.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    background-color: #fff;
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a {
    background: #ffffff!important;
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li:hover>a {
    background: #006882;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #2C3542;
    color: #ededed;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #3d4957;
    color: #737373;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    color: #898989;
}
.page-sidebar-menu.page-sidebar-menu-light.page-sidebar-menu-closed>li.heading {
    padding: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-top: none !important;
}
.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a {
    font-size: 12px;
}
.page-header.navbar .menu-toggler>span, .page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before, .page-header.navbar .menu-toggler>span:hover, .page-header.navbar .menu-toggler>span:hover:after, .page-header.navbar .menu-toggler>span:hover:before {
    background: #0c0c0c;
}
.page-header.navbar .page-logo .logo-default {
    margin: 0px 0 0;
    display: block;
    width: 100%;
}
.page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    border: none;
    text-shadow: none;
    font-size: 13px;
}
.page-header.navbar .page-logo {
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
.page-sidebar .page-sidebar-menu>li.heading>h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    color: #383838;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
}
.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a {
    display: inline-block;
    float: left;
    width: 75px;
    margin-top: 3px;
}
.page-container-bg-solid .page-content {
    background: #f3f6f8;
}
.portlet.light.portlet-fit {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
}
table.dataTable.no-footer {
    border-bottom: none;
}
.table-scrollable {
    border: none;
    margin-bottom: 35px !important;
}
table.dataTable thead td, table.dataTable thead th {
    border-bottom: 1px solid #f2f2f2;
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: initial!important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}
.table td, .table th {
    font-size: 13px;
}
.table thead tr th {
    font-size: 12px;
    text-transform: uppercase;
    color: #ababab;
    letter-spacing: .5px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 12px 10px;
    color: #4b4b4b;
}
 table.dataTable thead th, 
 table.dataTable thead td {
    padding: 18px 18px;
}
.username b {
    clear: left;
    text-transform: uppercase;
    font-size: 9px;
    display: inline-block;
    float: left;
}
.username i {
    float: left;
    font-size: 13px;
    opacity: .8;
}
.iconsActions {
    float: right;
    margin-right: 20px;
}
.iconsActions li{
    list-style: none;
    float: left;
    position: relative;
}
.iconsActions li:last-child::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    height: 60%;
    top: 20%;
    background-color: #000;
    opacity: .2;
    transition:.3s ease all;
}
.iconsActions li a {
    display: block;
    width: 50px;
    height: 50px;
    opacity: .7;
    transition:.3s ease all;
}
.iconsActions li .userInfo{
    background-image: url(../img/user.svg);
        background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconsActions li .userPass{
    background-image: url(../img/lock.svg);
        background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconsActions li .userEdit{
    background-image: url(../img/edit.svg);
        background-size: 23px;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconsActions li .logOut{
    background-image: url(../img/logout.svg);
        background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconsActions li a:hover{
    background-color: #f1f1f1;
}
.iconsActions li:last-child a:hover{
    background-color: #e58c01;
}
.iconsActions li:last-child:hover::after{
    opacity: 0;
}
.caUserInfo .img-circle{
    float: left;
}
.username {
    float: left;
    margin-left: 6px;
}
.caUserInfo {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}
.totalRegister {
    font-size: 11px;
    opacity: .8;
}
.pagination>li>a, .pagination>li>span {
    color: #373737;
    background-color: transparent;
    font-size: 11px;
}
.pagination>li>a, .pagination>li>span {
    font-size: 10px;
}
.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    background-color: transparent;
    opacity: .5;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #006882;
    border-color: #006882;
}
table.dataTable thead .sorting:last-child {
    background-position-x: 90%;
}
.cirButton {
    display: block;
    width: 35px;
    height: 35px;
    text-indent: -99999px;
    border: 1px solid #000;
    border-radius: 50% !important;
    transition: .3s ease;
    opacity: .4;
}
.cirButton:hover{
    opacity: .8;
}
.circleButtons{
    float: right;
}
.circleButtons a{
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.caFilter {
    background-image: url(../img/icon_filter.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}
.caAdd {
    background-image: url(../img/icon_add.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}
.caReturn {
    background-image: url(../img/return_arrow.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}
.badge {
    font-size: 10px !important;
    letter-spacing: .5px;
    -webkit-border-radius: 5px !important;
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius: 5px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.btnActions {
    background-color: #e58c01;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 5px 15px;
    transition:.3s ease all;
}
.btnActions:hover,
.btnActions:focus,
.btnActions.focus{
  background-color: #cc7c00;
  color: #fff !important;  
}
table .dropdown-menu {
    background-color: #006882;
    border: 1px solid #007b99;
}
table .dropdown-menu>li>a {
    font-size: 12px;
    color: #fff;
    letter-spacing: .5px;
}
table .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #015f77;
}
table .btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before {
    border-bottom: 8px solid #015f77;
}
table .btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after {
    border-bottom: 7px solid #015f77;
}
label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    opacity: .8;
}
.form-control, output {
    font-size: 12px;
}
.comboButtons {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.comboButtons button {
    float: left;
    width: 48%;
    padding: 10px 12px;
    color: #fff !important;
    transition:.3s ease all;
}
.saveButton{
    background-color: #f29400;
    margin-right: 2%;
}
.cancelButton{
    background-color: #41575c;
}
.saveButton:hover{
    background-color: #d07f00;
}
.cancelButton:hover{
    background-color: #2b3a3e;
}

.pictureContainer,
.personalInfo{
    position: relative;
    max-width: 255px;
}
.pictureContainer img{
    display: block;
    margin: auto;
    width: 100%;
}
.caTopInfo span {
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: bold;
    color: #888888;
    clear: both;
    margin-left:10%;
    /*display: block;*/
}
.caTopInfo h4{
    margin-bottom: 0;
}
.peps{
    margin-left: 7%;
}
.caTopInfo ul, .caBottomInfo ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    margin-top: 12px;
}
.caTopInfo li, .caBottomInfo li {
    list-style: none;
    color: grey;
    font-size: 13px;
    margin-bottom: 15px;
}
.caTopInfo li b, .caBottomInfo li b {
    color: #000;
    font-weight: 600;
    width: 110px;
    display: inline-block;
    letter-spacing: -.5px;
}
.caTopInfo h6, .caBottomInfo h6 {
    color: #616161;
    position: relative;
    font-size: 13px;
    float: left;
    margin-top: 15px;
}
.caTopInfo h6::after,
.caBottomInfo h6::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: red;
}
.caTopInfo h6::before, .caBottomInfo h6::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    right: -30px;
    width: 20px;
    height: 20px;
    opacity: .7;
}
.caTopInfo h6::before{
    background-image: url("../img/id.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.caBottomInfo .lps::before{
    background-image: url("../img/workers.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.caBottomInfo .tps::before{
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.caSpecialSpace {
    margin-top: 95px;
    overflow: hidden;
    float: left;
}
.caTopInfo .caCol, .caBottomInfo .caCol {
    float: left;
}
.caBottomInfo .caCol {
    width: 50%;
}
.profileInfo, .pictureContainer {
    float: left;
    width: 50%;
    margin-left:30%;
}
.profileInfo {
    margin-left: 7%;
    position: relative;
}
.profileInfo::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    left: 0;
    bottom: 0;
}
.caRows {
    /*width: 700px;*/
    overflow: hidden;
    margin-left: 50px;
    margin-top: 40px;
}
.caBottomInfo{
    margin-top: 35px;
    float: left;
    width: 100%;
    overflow: hidden;
}
.login .content .form-control {
    background-color: transparent;
    height: 43px;
    padding-left: 50px;
}
.logIn{
    background-color: #e58c01;
    color: #fff !important;
    transition:.3s ease all;
}
.logIn:hover {
    background-color: #ca7c02;
}
.login .content .rememberme {
    margin-left: 0;
    clear: both;
    display: block;
    width: 100%;
    margin-top: 7px;
    padding-left: 0;
    text-transform: initial;
    font-weight: 400;
    color: #296171;
    font-size: 12px;
}
.login .content .form-actions .btn {
    margin-top: 1px;
    font-weight: 500;
    padding: 10px 25px!important;
    font-size: 12px;
    letter-spacing: .5px;
    margin: auto;
    float: none;
    display: block;
    margin-top: 25px;
}
.login .content .form-actions {
    padding: 10px 30px;
    border-bottom: none;
}
.mt-checkbox>span, .mt-radio>span {
    border: 2px solid #006882 !important;
    position: absolute;
    top: -4px;
    left: initial;
    height: 25px;
    width: 25px;
    background: #E6E6E6;
    right: 0;
    border-radius: 50% !important;
}
.mt-checkbox>span:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3a859b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.forgotPass h6 {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
}
.login .content .forget-password {
    font-size: 11px;
    float: none;
    display: block;
    margin-top: 0px;
    text-align: center;
}
.loginLogo {
    width: 130px;
    overflow: hidden;
    display: block;
    margin: 15px auto;
    margin-bottom: 30px;
}
.loginLogo img{
    display: block;
    width: 100%;
}
.login .content {
    background-color: #fff;
    border-radius: 0;
    width: 350px;
    margin: auto;
    padding: 0px 30px 30px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 0;
    right: 0;
}
.caMail {
    background-image: url(../img/mailG.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 35px;
}
.caPassLogin {
    background-image: url(../img/lockG.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
}
.login {
    background-color: #fff !important;
}
.forget-form p {
    text-align: center;
    color: #7d7d7d;
    margin-bottom: 15px;
    font-size: 12px;
}
.forget-form .form-actions button{
    float: left !important;
    width: 48%;
    display: block !important;
    color: #fff !important;
    text-transform: uppercase;
    margin-top: 0 !important;
    transition:.3s ease all;
}
.backTo {
    /*background-color: #41575c;*/
    margin-right: 4% !important;
}
.reSend{
    background-color: #e58c01;
}
.backTo:hover{
    background-color: #2a383c;
    color:lightgray;
}
.reSend:hover{
    background-color: #ca7c02;
}
.forget-form .form-actions {
    margin-bottom: 0;
}
@media screen and (max-width: 991px){
.page-header.navbar .page-logo {
    box-shadow: none;
}
.page-header-fixed .page-container {
}
.navbar + .clearfix {
    background-color: #f3f6f8;
}
.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    border-top: none !important;
}
.page-sidebar, .page-sidebar.navbar-collapse.in {
    border-top: 0!important;
    margin: 0;
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: #fbfbfb!important;
}
}
@media screen and (max-width: 800px){
.caRows {
    width: 620px;
}
.caTopInfo li b, .caBottomInfo li b {
    width: 100px;
}
}
@media screen and (max-width: 700px){
.caRows {
    width: 600px;
    overflow: hidden;
    margin-left: initial;
}
}
@media screen and (max-width: 600px){
.caBottomInfo .caCol,
.pictureContainer,
.profileInfo{
    width: 100%;
    margin: 0;
    text-align: center;
}
.caRows {
    width: 100%;
}
.caTopInfo h6, .caBottomInfo h6{
    float: none;
    margin: auto;
    display: inline-block;
    margin-top: 10px;
}
.caTopInfo li b, .caBottomInfo li b {
    width: initial;
    display: inline-block;
    margin-right: 5px;
}
.personalInfo {
    max-width: initial;
}
.pictureContainer {
    margin: auto;
    float: none;
    margin-bottom: 20px;
}
.username{
    display: none;
}
.iconsActions {
    padding: 0;
    margin-right: 10px;
}
.iconsActions li a {
    display: block;
    width: 40px;
}
}
@media screen and (max-width: 400px){
.iconsActions li .logOut {
    background-size: 20px;
}
.iconsActions li .userEdit {
    background-size: 18px;
}
.iconsActions li .userPass {
    background-size: 20px;
}
.iconsActions li .userInfo {
    background-size: 21px;
    width: 25px;
}
.iconsActions li:last-child::after {
    display: none;
}
.iconsActions {
    margin-right: 0;
}
.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a {
    width: 60px;
    margin-top: 6px;
}
.caUserInfo {
    margin-left: 7px;
}
}







