﻿   <!-- BEGIN CONTENT BODY -->
<div class="portlet light bordered" id="ListadoMateriaPrimasPanel" style="min-height: 574px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Listado de Materias Primas</span>
        </div>
        <a class="btn yellow-gold pull-right uppercase caCreate" onclick="GreinerAssistec.App.MateriaPrima.AltaMateriaPrima()">Crear</a>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-striped table-bordered" id="MateriaPrimaTbl">
                <thead>
                    <tr>
                        <th>Numero de Parte Interno</th>
                        <th>Tipo                   </th>
                        <th>Descripción            </th>
                        <th>Secado                 </th>
                        <th>Temperatura            </th>
                        <th>Tiempo                 </th>
                        <th>Familia                </th>
                        <th>Porcentaje de Humedad  </th>
                        <th>Amorfo/Semi            </th>
                        <th>Polimero               </th>
                        <th>Acciones               </th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--T-->
    </div>
</div>
<!-- END CONTENT BODY -->