* {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9d9d9d !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #9d9d9d !important;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #9d9d9d !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #9d9d9d !important;
}

.login {
    background-color: #fff;
}

    .login::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        width: 50%;
        height: 100%;
        z-index: -1;
        opacity: .015;
    }

.logo img {
    width: 150px;
}

.login .content {
    width: 90%;
    margin: auto;
    max-width: 350px;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

    .login .content .form-control {
        background-color: transparent;
        border: 1px solid #d8d8d8;
        height: 40px;
        color: #697680;
        padding-left: 50px;
        box-sizing: border-box;
        font-size: 13px;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 13px 50%;
    }

    .login .content .inUser {
        background-image: url(../img/emailBck.svg);
    }

    .login .content .inPass {
        background-image: url(../img/pass.svg);
    }

    .login .content .mt-checkbox {
        color: #697680 !important;
        font-size: 12px;
        margin-bottom: 30px;
    }

    .login .content .form-actions .btn {
        font-weight: bold;
        max-width: 185px;
        margin: auto;
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        float: none;
        clear: both;
        display: block;
    }

.login .form-subtitle {
    color: #475156;
    font-size: 15px;
    font-weight: 300 !important;
    padding-left: initial;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.login .content .form-title {
    font-weight: bold !important;
    margin-bottom: 0;
    color: #475156;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
}

#back-btn {
    display: block;
    clear: both;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    box-shadow: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 9px;
    float: left;
    font-size: 13px;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 0;
    color: #000 !important;
    font-size: 12px;
}

.login .content .create-account {
    margin-top: 0;
}

.login .logo {
    margin-top: 0 !important;
}

.dataTables_info {
    margin-top: 20px;
}

.caFilters {
    padding-bottom: 15px;
}
/*Gral
==========================*/
.btn {
    border-radius: 4px !important;
}

table.dataTable td.sorting_1,
table.dataTable td.sorting_2,
table.dataTable td.sorting_3,
table.dataTable th.sorting_1,
table.dataTable th.sorting_2,
table.dataTable th.sorting_3 {
    background: transparent !important;
}

.form-control {
    outline: 0 !important;
    border-radius: 4px !important;
}

.bcs {
    margin-left: 15%;
    position: relative !important;
}

label {
    font-weight: 400;
    font-size: 12px;
    color: #656565;
}

.actionButtons .btn {
    font-weight: 600;
    font-size: 12px;
    width: 47.5%;
    margin: 2%;
}

.small, small {
    font-size: 66%;
    display: block;
    margin-top: 4px;
}

.actionButtons .btn:first-child {
    margin-left: 0;
}

.actionButtons .btn:last-child {
    margin-right: 0;
}

.caRows {
    overflow: hidden;
    padding-left: 25px;
}

.caTopInfo h4 {
    margin-bottom: 0;
    font-weight: 400;
    color: #000;
}

.profileInfo, .pictureContainer {
    float: left;
    width: 50%;
}

    .pictureContainer img {
        display: block;
        margin: auto;
        width: 100%;
    }

.caTopInfo h6, .caBottomInfo h6 {
    color: #292929;
    position: relative;
    font-size: 13px;
    float: left;
    margin-top: 15px;
    font-weight: 600;
}

    .caTopInfo h6::before {
        background-image: url(../img/id.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .caTopInfo h6::before, .caBottomInfo h6::before {
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        right: -30px;
        width: 20px;
        height: 20px;
        opacity: .7;
    }

.caTopInfo ul, .caBottomInfo ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    margin-top: 12px;
}

.caTopInfo li, .caBottomInfo li {
    list-style: none;
    color: #2b2b2b;
    font-size: 13px;
    margin-bottom: 15px;
}

    .caTopInfo li b, .caBottomInfo li b {
        color: #828282;
        font-weight: 600;
        width: 115px;
        display: inline-block;
    }

.profileInfo::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    left: 0;
    bottom: 0;
}

.profileInfo {
    margin-left: 7%;
    position: relative;
}

.caBottomInfo {
    margin-top: 35px;
    float: left;
    width: 100%;
    overflow: hidden;
}

    .caBottomInfo .caCol {
        width: 50%;
    }

    .caTopInfo .caCol, .caBottomInfo .caCol {
        float: left;
    }

.pictureContainer, .personalInfo {
    position: relative;
    max-width: 255px;
}

.peps {
    margin-left: 7%;
}

.caBottomInfo .lps::before {
    background-image: url(../img/workers.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.caBottomInfo .tps::before {
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

thead tr {
    background-color: #e8f4fd;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 11px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #136785;
    border-color: #136785;
}

.caCreate {
    font-size: 11px;
    font-weight: 600;
    margin-top: 4px;
}

.table thead tr th {
    font-size: 13px;
    color: #4a4a4a;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 12px;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 20px;
    letter-spacing: -1px;
    color: #4b4b4b;
}

.input-group .btn {
    -webkit-border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -moz-border-radius-topright: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.input-group input {
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.form-control {
    background-color: #fcfcfc;
    border: 1px solid #e2e2e2;
}

.dataFixed .input-group {
    width: 100%;
}

    .dataFixed .input-group input {
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        width: 100%;
    }

    .dataFixed .input-group span {
        width: 90px;
        -webkit-border-top-left-radius: 4px !important;
        -webkit-border-bottom-left-radius: 4px !important;
        -moz-border-radius-topleft: 4px !important;
        -moz-border-radius-bottomleft: 4px !important;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        background-color: #fcfcfc;
        border: 1px solid #e2e2e2;
        font-weight: 600;
        border-right: none;
    }

.dataSufix .input-group {
    width: 100%;
}

    .dataSufix .input-group span {
        width: 60px;
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        -webkit-border-top-right-radius: 4px !important;
        -webkit-border-bottom-right-radius: 4px !important;
        -moz-border-radius-topright: 4px !important;
        -moz-border-radius-bottomright: 4px !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        background-color: #fcfcfc;
        border: 1px solid #e2e2e2;
        font-weight: bold;
        border-left: none;
    }

    .dataSufix .input-group input {
        -webkit-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-radius-topright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        width: 100%;
    }

textarea.form-control {
    height: auto;
    min-height: 110px;
}

.mt-checkbox-inline, .mt-radio-inline {
    padding: 0;
}

.clsCol {
    clear: left;
}

h5 {
    font-weight: bold;
    opacity: .8;
    padding-top: 12px;
    margin-bottom: -10px;
}

.caInfo {
    display: block;
    font-weight: bold;
    opacity: .8;
}

.mt-repeater .mt-repeater-item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.input-group-btn .mt-repeater-delete {
    margin: 0;
    margin-left: 10px !important;
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.mt-repeater {
    margin-bottom: 0;
}

.mt-repeater-add {
    font-weight: bold;
    font-size: 11px;
}

    .mt-repeater-add span {
        margin-left: 7px;
    }

.blue {
    background-color: #136785 !important;
    border-color: #136785 !important;
}

    .blue:hover {
        background-color: #1884ab !important;
        border-color: #1884ab !important;
    }

.caActionsButtons {
    margin-bottom: 10px;
}

    .caActionsButtons i {
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin: 3px;
        opacity: .3;
        text-indent: -99999px;
        transition: .3s ease all;
    }

    .caActionsButtons a:hover i {
        opacity: 1;
    }

.caDelElement {
    background-image: url(../img/delete.svg);
}

.caEditElement {
    background-image: url(../img/edit.svg);
}

.pb_20 {
    padding-bottom: 20px;
}

.dataTables_filter {
    max-width: 228px;
}

table.dataTable {
    clear: both;
    margin-top: 15px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

.caActions {
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    transition: .3s ease all;
}

.caActions {
    background-image: url(../img/nav.svg);
}

.bcs {
    margin-left: 15%;
}

    .bcs ul {
        background-color: #136785;
    }

        .bcs ul a {
            color: #fff;
            font-size: 12px;
            font-weight: 600;
        }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0e4f66;
}

.btn-group > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .dropdown > .dropdown-menu:after {
    border-bottom: 7px solid #136785;
}

.badge-success {
    font-weight: 600;
}
/*Main Content
==========================*/
.clearColumn {
    clear: both;
}

.sHw select {
    max-width: 70px;
}

.page-header.navbar .top-menu {
    float: left;
}

.page-header.navbar .menu-toggler > span,
.page-header.navbar .menu-toggler > span:after,
.page-header.navbar .menu-toggler > span:before, .page-header.navbar .menu-toggler > span:hover,
.page-header.navbar .menu-toggler > span:hover:after, .page-header.navbar .menu-toggler > span:hover:before {
    background: #000;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background-color: #f3f6f8;
}

.page-header.navbar .page-logo .logo-default {
    margin: 2px 0 0;
    max-width: 80px;
}

.page-header.navbar {
    background-color: #fff;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.05);
}

.page-content {
    background-color: #F3F6F8;
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1 !important;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.05);
}

.page-content {
    position: relative;
    overflow: hidden;
}

    .page-content::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #f1f1f1;
        display: block;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

.page-sidebar-menu {
    border-top: 5px solid #F39200;
}

.page-sidebar .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    color: #fff !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #000;
}
/*title navbar desktop*/
.page-sidebar .page-sidebar-menu > li.heading > h3,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    color: #656565;
    font-weight: bold;
    font-size: 11px;
}
/*active desktop*/
.page-sidebar .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: #136785;
}
    /*hover desktop*/
    .page-sidebar .page-sidebar-menu > li.active.open > a:hover,
    .page-sidebar .page-sidebar-menu > li.active > a:hover,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover {
        background: #136785;
    }
/*Color desktop*/
.page-sidebar .page-sidebar-menu .sub-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
    color: #697680;
}
/*Size desktop */
.page-sidebar .page-sidebar-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a {
    font-size: 13px;
}
/*Size desktop sub menu*/
.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    font-size: 13px;
    letter-spacing: -.5px;
}

.page-sidebar .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: #e9e9e9;
    color: #555;
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
    padding-left: 50px;
}

@media screen and (max-width: 700px) {
    .profileInfo {
        margin-left: 0;
        clear: both;
    }

    .profileInfo, .pictureContainer {
        float: left;
        width: 100%;
    }

    .caBottomInfo .caCol {
        width: 100%;
    }

    .peps {
        margin-left: 0;
    }

    .caRows {
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper > .row .col-sm-6 {
        width: 50% !important;
        float: left;
    }

    .dataTables_length {
        text-align: left !important;
    }

    .dataTables_filter {
        text-align: right;
        float: right !important;
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 480px) {

    .page-header.navbar .top-menu {
        background-color: transparent;
        position: absolute;
        left: 110px;
    }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
            background-color: transparent;
        }
}

.iconsActions {
    float: right;
    margin-right: 20px;
}

    .iconsActions li {
        list-style: none;
        float: left;
        position: relative;
    }

        .iconsActions li:last-child::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 1px;
            height: 60%;
            top: 20%;
            background-color: #000;
            opacity: .2;
            transition: .3s ease all;
        }

        .iconsActions li a {
            display: block;
            width: 50px;
            height: 50px;
            opacity: .7;
            transition: .3s ease all;
        }

        .iconsActions li .userInfo {
            background-image: url(../img/user.svg);
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .iconsActions li .userPass {
            background-image: url(../img/lock.svg);
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .iconsActions li .userEdit {
            background-image: url(../img/edit.svg);
            background-size: 23px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .iconsActions li .logOut {
            background-image: url(../img/logout.svg);
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .iconsActions li a:hover {
            background-color: #f1f1f1;
        }

        .iconsActions li:last-child a:hover {
            background-color: #e58c01;
        }

        .iconsActions li:last-child:hover::after {
            opacity: 0;
        }

.iconsActions {
    padding: 0;
    margin-right: 10px;
}

    .iconsActions li a {
        display: block;
        width: 40px;
    }
.iconsActions li .logOut{
    background-image: url(../img/logout.svg);
        background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconsActions li .userPass{
    background-image: url(../img/lock.svg);
        background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconsActions li .userEdit{
    background-image: url(../img/edit.svg);
        background-size: 23px;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 400px) {
    .iconsActions li .logOut {
        background-size: 20px;
    }

    .iconsActions li .userEdit {
        background-size: 18px;
    }

    .iconsActions li .userPass {
        background-size: 20px;
    }

    .iconsActions li .userInfo {
        background-size: 21px;
        width: 25px;
    }

    .iconsActions li:last-child::after {
        display: none;
    }

    .iconsActions {
        margin-right: 0;
    }
}
