﻿
@{
    ViewBag.Title = "Pagina Principal";
    string relativePath = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, (Request.ApplicationPath != "/" ? Request.ApplicationPath + "/" : "/"));
    string uNameLogged = "";
    if (Request.IsAuthenticated)
    {
        uNameLogged = System.Web.HttpContext.Current.User.Identity.Name;
    }
}

<script>
    $(document).ready(function () {
        var relativePath = "@relativePath";
        var uNameLogged = '@uNameLogged';

        GreinerAssistec.App.Initialize(relativePath, "@Request.Url.Scheme");
        GreinerAssistec.App.Login.Initialize(true, uNameLogged, false, false);
        GreinerAssistec.App.Home.Initialize();
    });
</script>
@Styles.Render("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")

<div id="alertHome" class="alert-dismissible" role="alert" style="visibility:collapse">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="alertContent"></div>
</div>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
    </div>
    <!-- END CONTENT BODY -->
</div>
@Scripts.Render("https://code.jquery.com/jquery-1.12.4.js")
@Scripts.Render("https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

<!-- END CONTENT -->