﻿<!-- BEGIN FOOTER -->
<div class="page-footer">
  <div class="page-footer-inner"> 2018 &copy; Greiner Assistec Theme By
    <a>Webpoint</a> &nbsp;|&nbsp;
  </div>
  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>
</div>
<!--END FOOTER -->
<!-- Modal Register -->
<style>
    /*

        ESTILO ERROR CONTROLS

    */
    .errorNotification {
        position: absolute;
        height: 2rem;
        width: 2rem;
        padding-bottom: 3px;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        -ms-transition: color 0.2s;
        transition: color 0.2s;
        font-size: 9px;
        text-align: center;
        align-content: center;
        background-color: red;
        -moz-border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        border-radius: 20px !important;
        display: inline-block;
        cursor: pointer;
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 0px 8px #2f6627;
        padding-top: 5px;
        margin-top: 3px;
    }

        .errorNotification:hover {
            background-color: #fd3535;
        }

    .validationMessage {
        display: none;
    }
</style>