﻿<!DOCTYPE html>
<!--
  Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
  Version: 4.7.1
  Author: KeenThemes
  Website: http://www.keenthemes.com/
  Contact: support@keenthemes.com
  Follow: www.twitter.com/keenthemes
  Dribbble: www.dribbble.com/keenthemes
  Like: www.facebook.com/keenthemes
  Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
  -->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js">
  <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
  <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    @Html.Partial("_StyleReferences")
    @Html.Partial("_ScriptsReferences")
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <style>
                        /*   ESTILO ERROR CONTROLS   */
                        .errorNotification {
                            position: absolute !important;
                            height: 2rem !important;
                            width: 2rem !important;
                            padding-bottom: 3px !important;
                            -webkit-transition: color 0.2s !important;
                            -moz-transition: color 0.2s !important;
                            -o-transition: color 0.2s !important;
                            -ms-transition: color 0.2s !important;
                            transition: color 0.2s !important;
                            font-size: 9px !important;
                            text-align: center !important;
                            align-content: center !important;
                            background-color: red !important;
                            -moz-border-radius: 20px !important;
                            -webkit-border-radius: 20px !important;
                            border-radius: 20px !important;
                            cursor: pointer !important;
                            color: white !important;
                            font-weight: bold !important;
                            text-decoration: none !important;
                            text-shadow: 1px 0px 8px #2f6627 !important;
                            padding-top: 5px !important;
                            margin-top: -30px !important;
                            right: 0px;
                        }

                            .errorNotification:hover {
                                background-color: #fd3535 !important;
                            }

                        .validationMessage {
                            display: none !important;
                        }
.btn-group {  
    white-space: nowrap;              
}
.btn-group .btn {  
    float: none;
    display: inline-block;
}
 .btn + .dropdown-toggle { 
    margin-left: -4px;
}

.table-responsive {
  overflow-y: visible !important;
}
        </style>
        <!-- BEGIN HEADER -->
        @Html.Partial("_HeaderView")
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            @Html.Partial("_SideBarView")
            <!-- CONTENT BODY -->
            @Styles.Render("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")

            @RenderBody()
        </div>
        <!-- END CONTAINER -->
        @Html.Partial("_FooterView")
    </div>
    @Scripts.Render("https://code.jquery.com/jquery-1.12.4.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")


    <div class="modal fade" style="" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#006882;text-align:center; align-content:center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="changePasswordModalLabel" style="color:white; font-weight:bolder">Cambio de Contraseña</h4>
                </div>
                <div class="modal-body">
                    <div id="alertChangePassword" class="alert-dismissible" role="alert" style="visibility:collapse">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="alertContent"></div>
                    </div>
                    <div class="row">
                        <!-- left column -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group-lg">
                                <div class="col-12">
                                    <label class="control-label ClabelFrm">Contraseña Anterior:</label>
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control CvalueFrm" data-bind="value:Register.oldPassword" />
                                </div>
                            </div>
                        </div>
                        <!-- edit form column -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <form class="form-horizontal" role="form">
                                <div class="form-group-lg">
                                    <div class="col-12">
                                        <label class="control-label ClabelFrm">Nueva Contraseña:</label>
                                    </div>
                                    <div class="col-12">
                                        <input type="password" class="form-control CvalueFrm" data-bind="value:Register.password " />
                                    </div>
                                </div>
                                <div class="form-group-lg">
                                    <div class="col-12">
                                        <label class="control-label ClabelFrm">Confirmar Contraseña:</label>
                                    </div>
                                    <div class="col-12">
                                        <input type="password" class="form-control CvalueFrm" data-bind="value:Register.password2 " />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:#006882;">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input class="btn btn-primary" value="Guardar Cambios" type="button" data-bind="click:Register.ChangePassword" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
