﻿<!-- BEGIN CONTENT BODY -->

<div class="portlet light bordered" id="EditarMoldePanel" style="display:none">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Editar Molde</span>
            <small>Favor de llenar los siguientes campos para poder dar de alta un molde.</small>
        </div>
        <a class="btn grey-mint pull-right uppercase caCreate" onclick="GreinerAssistec.App.Molde.RegresarListadoMoldes(true,true)">Regresar</a>
    </div>
    <div class="portlet-body">
        <div class="row">

            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            *Molde
                        </label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input type="text" class="form-control" name="text" data-bind="value:Molde.Codigo" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Nombre</label>
                        <input data-bind="value:Molde.Nombre" type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tonelaje cotizado</label>
                        <input data-bind="value:Molde.TonelajeCotizado" type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Tonelaje real</label>
                        <select data-bind='value:Molde.TonelajeReal' class="form-control">
                            <option>160</option>
                            <option>220</option>
                            <option>400</option>
                            =
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Cliente</label>
                        <div class="typeahead__container">
                            <div class="typeahead__field">
                                <div  id="the-basics" class="typeahead__query">
                                    <input id="ClienteInput" data-bind="value:Molde.Cliente" type="text" class="typeahead form-control" placeholder="" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearColumn">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label>*Descripción</label>
                            <textarea data-bind="value:Molde.Descripcion" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs">
            </div>
            <div class="col-md-6 actionButtons">
                <button type="button" class="btn blue uppercase" onclick="GreinerAssistec.App.Molde.RegresarListadoMoldes(true,true)">Cancelar</button>
                <button type="button" data-bind="click:Molde.GuardaMolde" class="btn yellow-gold uppercase">Guardar</button>
            </div>

        </div>
    </div>
</div>
<!-- END CONTENT BODY -->